* {
	margin: 0;
	padding: 0;
	font-family: STKaiti, KaiTi_GB2312, "华文楷体", "宋体", Arial, Helvetica;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}


/*头部区域*/

header {
	width: 100%;
	height: 120px;
	background: #221236 url(../images/header_bg.jpg) top center;
}


/*导航*/

nav {
	width: 1100px;
	margin: 0 auto;
}

nav img {
	float: left;
}

nav>ul {
	width: 630px;
	margin: 0px auto;
	height: 25px;
	line-height: 25px;
	float: right;
	margin-top: 45px;
	text-align: right;
}

nav>ul>li {
	float: left;
	position: relative;
}

nav>ul>li:nth-child(1) {
	background: url(../images/nav_now_bg.png) no-repeat bottom center;
}

nav>ul>li>a:hover {
	background: url(../images/nav_now_bg.png) no-repeat bottom center;
}

nav>ul>li>a {
	font-size: 16px;
	text-align: left;
	padding: 0 15px;
	color: #fff;
	float: left;
	position: relative;
	height: 35px;
	font-weight: bolder;
}

nav>ul>li>a>span {
	position: absolute;
	display: block;
	width: 25px;
	height: 25px;
	float: right;
	right: 8px;
	top: 0;
	background: url(../images/nav_xiajiantou.png) no-repeat;
}

.li-hidden {
	width: 120px;
}

.li-hidden:hover ul {
	display: block;
}

.li-hidden>a {
	width: 90px;
}

nav>ul>li>ul {
	display: none;
	overflow: hidden;
	position: absolute;
	left: -16px;
	top: 35px;
	width: 180px;
	line-height: 40px;
	background-color: #36264a;
	z-index: 999;
}

.li-hidden>ul>li>a {
	float: left;
	width: 150px;
	color: #fff;
	font-size: 15px;
	text-align: left;
	padding-left: 30px;
	transition: padding-left 0.4s ease;
}

.li-hidden>ul>li>a:hover {
	background-color: #0086B3;
	padding-left: 40px;
	transition: padding-left 0.4s ease;
}

.li-hidden>ul>li {
	height: 40px;
	position: relative;
}

.li-hidden>ul>li>span {
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 12px;
	font-weight: 900;
	color: #fff;
}

.li-hidden>ul>li>a:hover span {
	display: block;
}


/*导航结束*/


/*头部区域结束*/


/*底部*/

.footer {
	width: 1100px;
	margin: 0 auto;
}

.footer_wrap {
	height: 348px;
	min-width: 1100px;
	background: url(../images/yinyue_bg.jpg);
}

.footer-span {
	padding: 116px 0 0 276px;
	height: 67px;
}

.footer-span span {
	float: left;
	cursor: pointer;
	width: 57px;
	height: 57px;
	margin-right: 25px;
}

.footer-span span:hover {
	background-position: 0 -57px;
	animation: 1s linear 0s normal none 1 running su-pudding;
}

.footer .shenmin {
	border-top: 2px #9890a2 dashed;
	text-align: center;
	line-height: 65px;
	margin-top: 79px;
	color: #fff;
	cursor: pointer;
}

.footer .shenmin:hover {
	color: #6CF;
}


/* 返回顶部部分开始 */

#ding {
	position: fixed;
	right: 30px;
	bottom: 30%;
	width: 90px;
	height: 200px;
	z-index: 9999999999;
	/*display: none;*/
}

#ding>a>div {
	width: 50px;
	height: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
	background: url(../images/scroll_top_bg.png) no-repeat 0px 0px;
}

#ding>a>div:hover {
	background: url(../images/scroll_top_bg.png) no-repeat 0px -50px;
	transition: all 0.5s ease;
}

#ding>div {
	width: 90px;
	height: 90px;
	position: relative;
}

#ding>div>div {
	width: 90px;
	height: 90px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: url(../images/fixed_contactus.png) top right no-repeat;
}

#ding>div:hover div {
	width: 235px;
	/* animation: 1s linear 0s normal none 1 running scroll; */
	transition: all 0.5s ease;
}

@keyframes scroll {
	0% {
		transform: scale(0, 0);
	}
	25% {
		transform: scale(0.9, 0.9);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
	75% {
		transform: scale(0.9, 0.9);
	}
	100% {
		transform: scale(0, 0);
	}
}


/* 返回顶部部分结束 */